{% load static %}

<h1>フォーム版</h1>
<form action="/" method="post">{% csrf_token %}
    <label for="name-of-form">名前：</label>
    <input id="name-of-form" type="text" name="name-of-form" size="15" />
    <button id="btn-of-form" type="submmit">送信</button>
</form>
<div>
    {% if name %}こんにちは、{{ name }}さん！{% endif %}
</div>

<h1>Ajax 版</h1>
<form>
    <label for="name">名前：</label>
    <input id="name" type="text" name="name" size="15" />
    <input id="btn" type="button" name="submit" value="送信" />
</form>

<div id="result">
    <!-- Will be replaced with inputed text by Ajax -->
</div>

<script src="{% static 'ajax.js' %}"></script>
